# Practice 2

In [61]:
import pandas as pd

##### reading files like csv, excel and more using pandas

In [62]:
df = pd.read_csv('Data_set/MOCK_DATA.csv')

##### to view full data

In [63]:
print(df)

   id  first_name  last_name                            email       gender  \
0   1     Diannne  Klimschak             dklimschak0@dell.com   Polygender
1   2        Yvon   Nowaczyk         ynowaczyk1@posterous.com         Male
2   3      Emelda   Murrells        emurrells2@prnewswire.com       Female
3   4       Debby     Millin                 dmillin3@ted.com       Female
4   5      Egbert     Neesam               eneesam4@exblog.jp         Male
5   6       Myrah     Pastor                 mpastor5@com.com       Female
6   7  Bartholemy     Nevill                 bnevill6@icio.us  Genderqueer
7   8      Oralia      Craig          ocraig7@stumbleupon.com       Female
8   9     Michale     Crummy  mcrummy8@networkadvertising.org         Male
9  10       Yance  Rijkeseis          yrijkeseis9@example.com         Male

       ip_address
0   136.255.70.60
1   253.127.62.15
2    6.233.29.125
3   186.98.84.135
4  164.196.79.149
5   153.61.61.152
6   59.24.223.135
7   47.155.132.12
8  156.172.59.102
9   122.236.57.63

##### save the data frame in the excel file like conversion

In [64]:
df.to_excel('Data_set/MOCK_DATA.xlsx', index=False)

##### viewing data upto 5lines from the start

In [65]:
print(df.head())

   id first_name  last_name                      email      gender  \
0   1    Diannne  Klimschak       dklimschak0@dell.com  Polygender
1   2       Yvon   Nowaczyk   ynowaczyk1@posterous.com        Male
2   3     Emelda   Murrells  emurrells2@prnewswire.com      Female
3   4      Debby     Millin           dmillin3@ted.com      Female
4   5     Egbert     Neesam         eneesam4@exblog.jp        Male

       ip_address
0   136.255.70.60
1   253.127.62.15
2    6.233.29.125
3   186.98.84.135
4  164.196.79.149

##### view the n numbers of data from the bottom

In [66]:
print(df.tail(3))

   id first_name  last_name                            email  gender  \
7   8     Oralia      Craig          ocraig7@stumbleupon.com  Female
8   9    Michale     Crummy  mcrummy8@networkadvertising.org    Male
9  10      Yance  Rijkeseis          yrijkeseis9@example.com    Male

       ip_address
7   47.155.132.12
8  156.172.59.102
9   122.236.57.63

##### to view the information of the file

In [67]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          10 non-null     int64
 1   first_name  10 non-null     object
 2   last_name   10 non-null     object
 3   email       10 non-null     object
 4   gender      10 non-null     object
 5   ip_address  10 non-null     object
dtypes: int64(1), object(5)
memory usage: 612.0+ bytes
None

##### to view the info of the file in a statistical way

In [68]:
print(df.describe())

             id
count  10.00000
mean    5.50000
std     3.02765
min     1.00000
25%     3.25000
50%     5.50000
75%     7.75000
max    10.00000

##### selecting a particular column of the file

In [69]:
print(df[["first_name", "last_name"]])

   first_name  last_name
0     Diannne  Klimschak
1        Yvon   Nowaczyk
2      Emelda   Murrells
3       Debby     Millin
4      Egbert     Neesam
5       Myrah     Pastor
6  Bartholemy     Nevill
7      Oralia      Craig
8     Michale     Crummy
9       Yance  Rijkeseis

##### filter rows of the file

In [70]:
print(df[df["id"] > 35])

Empty DataFrame
Columns: [id, first_name, last_name, email, gender, ip_address]
Index: []

##### get first row of the file by position

In [71]:
print(df.iloc[0])

id                               1
first_name                 Diannne
last_name                Klimschak
email         dklimschak0@dell.com
gender                  Polygender
ip_address           136.255.70.60
Name: 0, dtype: object

##### get the first column of the file by position

In [72]:
print(df.iloc[:, 0])

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: id, dtype: int64

### selecting by label

##### By rows

In [73]:
print(df.loc[0])

id                               1
first_name                 Diannne
last_name                Klimschak
email         dklimschak0@dell.com
gender                  Polygender
ip_address           136.255.70.60
Name: 0, dtype: object

##### By column

In [74]:
print(df.iloc[:, 0])

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: id, dtype: int64