# Practice 5

In [ ]:
import pandas as pd

## <b>data transformation</b>

##### Loading data set

In [ ]:
df = pd.read_csv('Data_set/MOCK_DATA.csv')

#### to rename a particular column

In [ ]:
df = df.rename(columns={"id" : "number"})

##### to convert the data type of the data in any column

###### you can convert it into any data type

In [ ]:
df["column_name"] = df["column_name"].astype("float")

##### this converts a the data of a certain column into date and time format

In [ ]:
df["number"] = pd.to_datetime(df["number"])

##### this allows u to create a new column with data manipulated ny your wish like mul, add, or any operation to a existing column

In [ ]:
df["new_column"] = df["existing_column"] * 2

## <b>combining and merging dataframes</b>

#### concatenation

###### this concat the dataframes along rows

In [ ]:
combined_rows = pd.concat([df1, df2], axis=0)

###### this concat the dataframes along columns

In [ ]:
combined_column = pd.concat([df1, df2], axis=1)

##### to merge two data set

###### with this method we can merge two data set with respect to a common column in both the data set

In [ ]:
merge_set = pd.merge(df1, df2, on="common_column" )

In [ ]:
merged = pd.merge(df1, df2, how="left", on="common_column")
merged = pd.merge(df1, df2, how="inner", on="common_column")

##### joining data frames

In [ ]:
join = df1.join(df2, how="inner")