# Practice 6

In [1]:
import pandas as pd
import numpy as np

#### creating a sample dataset

In [2]:
data = {
    "name" : ["Asad", "Ayushi", "Taylor", np.nan, "Rehman"],
    "Age" : [20, 21, np.nan, 22, 34],
    "Score" : [np.nan, 95, np.nan, np.nan, 87]
}

#### Raw data to dataframe

In [3]:
df = pd.DataFrame(data)
print("Original data : \n", df)

Original data :
      name   Age  Score
0    Asad  20.0    NaN
1  Ayushi  21.0   95.0
2  Taylor   NaN    NaN
3     NaN  22.0    NaN
4  Rehman  34.0   87.0

## cleaning data

In [4]:
df = df.rename(columns={"name" : "first_name"})
print("Updated df : \n", df)

Updated df :
   first_name   Age  Score
0       Asad  20.0    NaN
1     Ayushi  21.0   95.0
2     Taylor   NaN    NaN
3        NaN  22.0    NaN
4     Rehman  34.0   87.0

#### Interpolation filling

In [5]:
df["Age"] = df["Age"].fillna(df["Age"].interpolate())
print("updated df :\n", df)

updated df :
   first_name   Age  Score
0       Asad  20.0    NaN
1     Ayushi  21.0   95.0
2     Taylor  21.5    NaN
3        NaN  22.0    NaN
4     Rehman  34.0   87.0

#### Filling missing values with the help of aggregation methods

In [6]:

df["Score"] = df["Score"].fillna(df["Score"].mean())

In [7]:
print("\nCleaned data : \n", df)

Cleaned data :
   first_name   Age  Score
0       Asad  20.0   91.0
1     Ayushi  21.0   95.0
2     Taylor  21.5   91.0
3        NaN  22.0   91.0
4     Rehman  34.0   87.0