# Practice 7

In [29]:
import pandas as pd
import numpy as np

In [30]:
data1 = {
    "Name" : ["Asad", "Ayushi", "Rehman", "Ananya"],
    "Age" : [20, np.nan, np.nan, 30],
    "Rating" : [7, 10, 9, 10]
}

In [31]:
data2 = {
    "Name" : ["Asad", "Linus", "Ayushi", "Shahrukh", "Hamza"],
    "ID" : [np.random.randint(1, 100) for _ in range(5)],
    "Score" : [12, 23, 34, 21, 19]
}

In [32]:
df1 = pd.DataFrame(data1) 
df2 = pd.DataFrame(data2)

In [33]:
print("DataFrame 1 :\n", df1)

DataFrame 1 :
      Name   Age  Rating
0    Asad  20.0       7
1  Ayushi   NaN      10
2  Rehman   NaN       9
3  Ananya  30.0      10

In [34]:
print("DataFrame 2 :\n", df2)

DataFrame 2 :
        Name  ID  Score
0      Asad  29     12
1     Linus  22     23
2    Ayushi  17     34
3  Shahrukh  75     21
4     Hamza  26     19

In [35]:
df = pd.merge(df1, df2, how="outer", on="Name")
print("\nMerged column : \n", df)

Merged column :
        Name   Age  Rating    ID  Score
0    Ananya  30.0    10.0   NaN    NaN
1      Asad  20.0     7.0  29.0   12.0
2    Ayushi   NaN    10.0  17.0   34.0
3     Hamza   NaN     NaN  26.0   19.0
4     Linus   NaN     NaN  22.0   23.0
5    Rehman   NaN     9.0   NaN    NaN
6  Shahrukh   NaN     NaN  75.0   21.0

In [36]:
df["Age"] = df["Age"].fillna(df["Age"].interpolate())
df["Rating"] = df["Rating"].fillna(df["Rating"].interpolate())
df["ID"] = df["ID"].fillna(df["ID"].mean())
df["Score"] = df["Score"].fillna(df["Score"].mean())

In [37]:
df[["Rating", "Age", "ID", "Score"]] = df[["Rating", "Age", "ID", "Score"]].astype(int)

In [38]:
print("\nCleaned Data :\n", df)

Cleaned Data :
        Name  Age  Rating  ID  Score
0    Ananya   30      10  33     21
1      Asad   20       7  29     12
2    Ayushi   20      10  17     34
3     Hamza   20       9  26     19
4     Linus   20       9  22     23
5    Rehman   20       9  33     21
6  Shahrukh   20       9  75     21