# Practice 8

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data1 = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35]}

In [ ]:
data2 = {'City': ['New York', 'London', 'Paris'], 'Salary': [50000, 60000, 70000]}

In [ ]:
df = pd.DataFrame(data1)
df1 = pd.DataFrame(data2)

In [ ]:
print("Dataframes :\n")
print(df)
print("\n", df1)