# Practice 10

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
    "Class" : ["A", "B", "C", "A", "C"],
    "Score" : [85, 98, 88, 72, 99],
    "Age" : [18, 20, 19, 14, 17]
}

In [3]:
df = pd.DataFrame(data)
print(df)

  Class  Score  Age
0     A     85   18
1     B     98   20
2     C     88   19
3     A     72   14
4     C     99   17

In [4]:
grouped = df.groupby("Class").sum()
print("Sum as per the class : \n", grouped)

Sum as per the class :
        Score  Age
Class
A        157   32
B         98   20
C        187   36

In [5]:
grouped = df.groupby("Class").mean()
print("Mean as per the class :\n", grouped)

Mean as per the class :
        Score   Age
Class
A       78.5  16.0
B       98.0  20.0
C       93.5  18.0

In [6]:
stats = df.groupby("Class").agg({"Score" : ["mean", "max", "min"], "Age" : ["mean", "max", "min"]})

In [7]:
print("Stats of the each column :\n", stats)

Stats of the each column :
       Score           Age
       mean max min  mean max min
Class
A      78.5  85  72  16.0  18  14
B      98.0  98  98  20.0  20  20
C      93.5  99  88  18.0  19  17